go 1.19

use (
	./examples/intro/gradient-cpu
	./examples/intro/gradient
	./examples/intro/checkerboard
	./examples/intro/invoke-shader
	./examples/intro/circle-anim
	./examples/intro/color-swap
	./examples/intro/pixelize
	./examples/intro/pixelize-anim
	./examples/intro/pixelize-anim-opt
	./examples/intro/mirror
	./examples/misc/triangles
	./examples/misc/recolor
	./display
)
