go 1.22.2

use (
	./display
	./examples/intro/checkerboard
	./examples/intro/checkerboard-preview
	./examples/intro/circle
	./examples/intro/circle-anim
	./examples/intro/color-swap
	./examples/intro/gradient
	./examples/intro/gradient-cpu
	./examples/intro/half-half
	./examples/intro/invoke-shader
	./examples/intro/mirror
	./examples/intro/pixelize
	./examples/intro/pixelize-anim
	./examples/intro/wave-split
	./examples/misc/recolor
	./examples/misc/triangles
)
